div .footer {
	background-color: #ff9999;
}

h1 {
	font-family: sans-serif;
	//color: #ff9999;
}

h2 {
	font-family: sans-serif;
	//color: #ff9999;
}

p {
	font-family: sans-serif;
	//color: #ff9999;
}